
<div class="mt-5 mb-4 dyuthi_regular top-top-style">
    <h6 class="text-success kustom_culture"> 
        <span>lo más visto</span>
        <img src="{{ site.url }}/images/cx12.png" height="25px" />
    </h6>
    <hr>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card-group" style="padding: 1rem;">
              
                <div class="card cardfix m-4 bg-dark">
                    <div class="card-header text-center dyuthi_regular">
                        <h6>Jornada 12 · Apertura</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-white kustom_culture">
                            PEÑAROL X<br>
                            WANDERERS
                        </h4>
                        <a href="{{ site.url }}/partidos-completos/2024/05/11/APERTURA-2024-JORNADA-12-PENAROL-X-WANDERERS.html" class="btn btn-danger kustom_culture">ver contenido </a>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="col">
            <div class="card-group">
              
                <div class="card cardfix m-4 bg-dark">
                    <div class="card-header text-center dyuthi_regular">
                        <h6>Jornada 6 · Apertura</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-white kustom_culture">
                            PEÑAROL X<br>
                            NACIONAL
                        </h4>
                        <a href="{{ site.url }}/partidos-completos/2024/03/29/APERTURA-2024-JORNADA-6-PENAROL-X-NACIONAL.html" class="btn btn-danger kustom_culture">ver contenido </a>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="col">
            <div class="card-group">
                
                  <div class="card cardfix m-4 bg-dark">
                      <div class="card-header text-center dyuthi_regular">
                          <h6>Jornada 2 · Apertura</h6>
                      </div>
                      <div class="card-body">
                          <h4 class="card-title text-white kustom_culture">
                              PEÑAROL X<br>
                              MIRAMAR MISIONES
                          </h4>
                          <a href="{{ site.url }}/partidos-completos/2024/02/24/APERTURA-2024-JORNADA-2-RAMPLA-JUNIOORS-X-PENAROL.html" class="btn btn-danger kustom_culture">ver contenido </a>
                      </div>
                  </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card-group">
                
                  <div class="card cardfix m-4 bg-dark">
                      <div class="card-header text-center dyuthi_regular">
                          <h6>Jornada 5 · Apertura</h6>
                      </div>
                      <div class="card-body">
                          <h4 class="card-title text-white kustom_culture">
                              RACING X<br>
                              PEÑAROL
                          </h4>
                          <a href="{{ site.url }}/partidos-completos/2024/03/16/APERTURA-2024-JORNADA-5-RACING-X-PENAROL.html" class="btn btn-danger kustom_culture">ver contenido </a>
                      </div>
                  </div>
                
            </div>
        </div>
        
    </div>
</div>
<div style="height: 350px;"></div>
  