<footer class="footer p-5" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h2>elbostero.tk</h2>
            </div>
            <div class="col-md-4">
                <h5>DMCA</h5>
                <p> 
                    En nuestro sitio no almacenamos videos
                    de partidos, simplemente linquiamos a otros
                    sitios en internet que ofrecen partidos
                    y que se pueden encontrar libremente con una
                    simple búsqueda
                </p>
            </div>
            <div class="col-md-3">
                <h5>Contacto</h5>
                <ul class="list-unstyled"> 
                    <li>eldoradosportmedia@gmail.com</li> 
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Seguinos</h5>
                <ul class="list-inline footer-links"> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-youtube"></i> 
                      </a> 
                      </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-x-twitter"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-instagram"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-github"></i> 
                      </a> 
                    </li> 
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>2024 © elbostero.tk </p>
            </div>
            <div class="col-md-6 text-end">
                <ul class="list-inline footer-links"> 
                    <li class="list-inline-item"> 
                        <a href="#"> 
                            Privacidad
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="#"> 
                            Cookies 
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="#"> 
                            feed<i class="fa-solid fa-rss" style="padding: 5px;"></i></i> 
                        </a> 
                    </li> 
                </ul>
            </div>
        </div>
    </div>
</footer>