<footer class="footer mt-auto py-3 bg-dark 
                   fixed-bottom text-white">
        <div class="container">
            <span class="text-white">© 2024 <elbostero class="tk archivo">bostero.dev</elbostero></span>
            <ul class="list-inline float-right mb-0">
                <li class="list-inline-item">
                  <a href="#">Política de privacidad</a>
                  </li>
                <li class="list-inline-item">
                  <a href="#">Políticas de cookies</a>
                  </li>
                <li class="list-inline-item">
                  <ul class="advertencia list-inline footer-links"> 
                    <li class="list-inline-item">
                      <span>Contacto: </span>
                    </li>
                    <li class="list-inline-item"> 
                      <a href="https://www.youtube.com/@OFICIALCAPPER"> 
                            <i class="fab fa-youtube fa-fw"></i> 
                      </a> 
                      </li> 
                    <li class="list-inline-item"> 
                      <a href="https://x.com/CAPPRESS1587551"> 
                            <i class="fab fa-x-twitter fa-fw"></i> 
                      </a> 
                    </li>
                    <li class="list-inline-item">
                      ✉️ admin@bostero.dev
                    </li> 
                  </ul>
                </li>
            </ul>
        </div>
    </footer>