<footer class="footer mt-auto py-3 bg-dark 
                   fixed-bottom text-white">
        <div class="container">
            <span class="text-white">© 2024 <elbostero class="tk dyuthi_regular">elbostero.tk</elbostero></span>
            <ul class="list-inline float-right mb-0">
                <li class="list-inline-item">
                  <a href="#" class="text-white">Privacy</a>
                  </li>
                <li class="list-inline-item">
                  <a href="#" class="text-white">Terms</a>
                  </li>
                <li class="list-inline-item">
                  <a href="#" class="text-white">Contact</a>
                  </li>
            </ul>
        </div>
    </footer>