<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand archivo_regular" href="{{ site.url }}/index.html"><img src="{{ site.url }}/images/elbostero.png" style="padding: 5px;" width="40px">elbostero.tk</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active archivo_regular" href="{{ site.url }}/index.html"><i class="fa-solid fa-house" style="padding: 5px;"></i>Comienzo
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2 dyuthi_regular" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0 dyuthi_regular" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>