<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand archivo" href="{{ site.url }}/index.html">bostero.dev</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active archivo" href="{{ site.url }}/index.html">🛖️Comienzo
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link archivo" href="{{ site.url }}/libertadores-2024/index.html">🏆️Libertadores
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link archivo" href="{{ site.url }}/intermedio-2024/index.html">🏆️Intermedio
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2 archivo" type="search" placeholder="Búsqueda">
          <button class="btn btn-secondary my-2 my-sm-0 archivo" type="submit">🔎️Busca</button>
        </form>
      </div>
    </div>
</nav>