<div class="mt-5 mb-4 dyuthi_regular">
    <h2 class="text-success kustom_culture"> 
        {{ page.title }} 
    </h2>
    <strong>{{ page.sub-title }}</strong>
    <hr>
</div>
<div class="card container-fluid kustom_culture" style="padding: 0">
    <div class="card-header container-fluid text-center dyuthi_regular" style="padding: 0">
        <h4>{{ page.torneo }}</h4>
    </div>
    <img src="{{ site.url }}/{{ page.image }}"/>
    <div class="card-body">
        <h2 class="card-title">
            {{ page.local }} X<br>
            {{ page.visitante }}
        </h2>
        <h5 class="card-text">
            Partido Completo<br>
            {{ page.video }}<br>
            {{ page.audio }}<br>
            
        </h5>
        <h6>
            <a href="{{ page.downloadlink }}" class="btn btn-success kustom_culture">Descargar </a>
            <img src="{{ site.url }}/images/cx12.png" height="25px">
        </h6>
    </div>
</div>
<div style="height: 50px;"></div>