<div class="mt-5 mb-4 black-title">
  <h1 class="text-success mb-0 pb-0 kustom_culture 🙏🏿 👏🏿">
      <center><h2 style="color: #ffffe0;">próximo partido</h2></center>
  </h1> 
</div>
<div class="container-fluid d-flex kustom_culture align-items-center justify-content-center">
  <div class="bronce">
    <div>
      <h2 class="justify-content-center kustom_culture">clausura fecha 6</h2>
    </div>
    <div class="text-center">
      <span class="c ms-2">
        <img src="{{ site.url | relative.url }}/images/NAC.png" width="85px">
      </span>
      <span class="b ms-2">
        <img src="{{ site.url | relative.url }}/images/PEN.png" width="93px">
      </span>
    </div>
    <div class="text-center">
      <li class="list-group-item extra-info">
        <h2 id="countdown" class="text-center"><img src="/images/labostera.positiv@.png" width="22px">
            
        </h2>
      </li>
    </div>
    <div class="text-center">
      <div>
        <span class="justify-content-center kustom_culture">06/10/2024 21:00</span>
      </div>
      <div>
        <span class="justify-content-center kustom_culture" style="color: #7a7459">estadio campeón del siglo</span>
      </div>
      <div>
        <span class="justify-content-center kustom_culture" style="color: #7a7459">montevideo, uruguay</span>
      </div>
    </div>
  </div>
</div>

 
<div class="mt-5 mb-4 black-title">
  <h1 class="text-success mb-0 pb-0 kustom_culture 👏🏿">
      <center><h2 style="color: #ffffe0;">seguinos en las redes sociales</h2></center>
  </h1> 
</div>

<div class="bronce">
  <ul class="advertencia list-inline"> 
    <li class="list-inline-item"> 
      <a href="https://www.youtube.com/@OFFICIALCAPPER"> 
        <span class="ms-0 b" style="color: #7a7459;"><i class="fab fa-youtube fa-xl"></i></span>
      </a> 
      </li> 
    <li class="list-inline-item">
      <a href="https://github.com/eldoradomedia/PENAROLPRESS"> 
        <span class="ms-0 b" style="color: #7a7459;"><i class="fab fa-github fa-xl"></i></span>
      </a>
    </li>
    <li class="list-inline-item"> 
      <a href="https://x.com/CAPPRESS1587551"> 
            <span class="ms-0 b" style="background: ;color: #7a7459"><i class="fab fa-x-twitter fa-xl"></i> </span>
      </a> 
    </li> 
  </ul> <hr/>
</div>

<div class="mt-5 mb-4 black-title">
  <h1 class="text-success mb-0 pb-0 kustom_culture 👏🏿">
      <center><h2 style="color: #ffffe0;">Julio Trostchansky</h2></center>
  </h1> 
</div>

<div class="container-fluid">
   <div class="row">
      <!--{% for post in site.categories.noticias limit: 3 %}-->
      <div class="col-md-12">
        <div class="card border-0 mb-4 bg-secondary align-items-center justify-content-center" style="padding: 0.1rem; border-radius: 8px;display: inline-block;"><!-- 286px; -->
            <img src="{{ site.url | relative.url }}/images/trostchansky.png" height="100%" width="100%">
            <div class="card-body card-text" style="padding: 0;">
                <div class="referi-news">
                    <span style="font-size: 20px;">
                      "La próxima pedirán que no vayan nuestros jugadores así tienen mayor posibilidad de salir victoriosos en un partido"
                    </span>
                    <p style="color: #917c6f;font-size: 14px;">06/10/2024 21:0</p>
                    <div class="text-center text success mb-5">
                        <a href="#">
                            <h5 class="kustom_culture" style="background: #7a7459;color: #ffffe0;">audio</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
      <!--{% endfor %}-->
    </div>
    
</div>
  
    
    
      
<script>
    // Converting string to required date format 
    let deadline = new Date("October 06, 2024 21:00:00")
                    .getTime();

    // To call defined fuction every second
    let x = setInterval(function () {
         
        // Getting current time in required format
        let now = new Date().getTime();

        // Calculating the difference
        let t = deadline - now;

        // Getting value of days, hours, minutes, seconds
        let days = Math.floor(t / (1000 * 60 * 60 * 24));
        let hours = Math.floor(
            (t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor(
            (t % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor(
            (t % (1000 * 60)) / 1000);

        // Output the remaining time
        document.getElementById("countdown").innerHTML =
            days + "d " + hours + "h " + 
            minutes + "m " + seconds + "s ";

        // Output for over time
        if (t < 0) {
            clearInterval(x);
            document.getElementById("countdown")
                    .innerHTML = "¡comenzó!";
        }
    }, 1000);
</script>