<div class="mt-5 mb-4 dyuthi_regular">
    <div class="text-success inlines kustom_culture"> 
        <span class="second-title black-text">próximo partido </span>   
    </div>
    <hr>
</div>
<div class="card bg-secondary  card-next-match rounded-0 border-0 container-fluid">
    <img src="{{ site.url }}/images/INTERMEDIO_2024/next-match.png"/>
  <div class="justtoppadding">
    <div class="card-body card-next-match">
        <div class="card-title match-countdown archivo_regular" id="countdown" style="color: #212429;">

        </div>
        <hr>
        <div class="card-text">
            <span class="list-text"><i class="far fa-calendar-alt fa-fw" aria-hidden="true"></i> 16/06/2024 <i class="fas fa-clock fa-fw" aria-hidden="true"></i> 23:00 CET</span><br>
            <i class="fas fa-map-marker-alt fa-fw" aria-hidden="true"></i> <span class="list-text">Estadio Campeón del Siglo</span><br>
             <span class="list-text"><img src="{{ site.url }}/images/uy.png" width="15px" style="margin-right: 5px;margin-left: 6px;"> Montevideo, Uruguay</span>
        </div>
        <a class="kustom_culture" href="{{ site.url }}/penarol-directo/index.html">ver contenido </a>
    </div>
  </div>
</div>
<div class="mt-5 mb-4 dyuthi_regular">
    <div class="text-success inlines kustom_culture"> 
        <span class="second-title black-text">aviso legal </span>    
    </div>
    <hr>
</div>

      <p class="varning advertencia">
           <i class="fas fa-exclamation-circle fa-fw"></i>En este sitio no alojamos videos, 
           solo linquiamos a otros sitios que
           los ofrecen libremente en internet.  
      </p>
      
<div class="mt-5 mb-4 dyuthi_regular">
  <div class="text-success inlines kustom_culture"> 
      <span class="second-title black-text">seguinos </span>    
  </div>
  <hr>
</div>
<ul class="advertencia list-inline footer-links"> 
  <li class="list-inline-item"> 
    <a href="#"> 
          <i class="fab fa-youtube fa-fw"></i> 
    </a> 
    </li> 
  <li class="list-inline-item"> 
    <a href="#"> 
          <i class="fab fa-x-twitter fa-fw"></i> 
    </a> 
  </li> 
  <li class="list-inline-item"> 
    <a href="#"> 
          <i class="fab fa-instagram fa-fw"></i> 
    </a> 
  </li> 
  <li class="list-inline-item"> 
    <a href="#"> 
          <i class="fab fa-github fa-fw"></i> 
    </a> 
  </li> 
</ul> 
<div style='height: 300px;'></div>  
    
    
      
<script>
    // Converting string to required date format 
    let deadline = new Date("June 16, 2024 23:00:00")
                    .getTime();

    // To call defined fuction every second
    let x = setInterval(function () {
         
        // Getting current time in required format
        let now = new Date().getTime();

        // Calculating the difference
        let t = deadline - now;

        // Getting value of days, hours, minutes, seconds
        let days = Math.floor(t / (1000 * 60 * 60 * 24));
        let hours = Math.floor(
            (t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor(
            (t % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor(
            (t % (1000 * 60)) / 1000);

        // Output the remaining time
        document.getElementById("countdown").innerHTML =
            days + "d " + hours + "h " + 
            minutes + "m " + seconds + "s ";

        // Output for over time
        if (t < 0) {
            clearInterval(x);
            document.getElementById("countdown")
                    .innerHTML = "¡comenzó!";
        }
    }, 1000);
</script>