<div class="mt-5 mb-4">
    <h3 class="text-success kustom_culture"> 
        {{ page.title }} 
    </h3>
    <hr>
    <p class="advertencia"><strong>{{ page.sub-title }}</strong></p>
    
</div>
<div class="card container-fluid bg-secondary border-0 kustom_culture" style="padding: 0">
  <img src="{{ site.url }}/{{ page.image }}"/>
  <div class="justtoppadding">
    <div class="card-body">
        <h6 class="card-text">
            {{ page.video }}<br>
            {{ page.audio }}<br>
        </h6>
        <h5>
            <a href="{{ page.downloadlink }}" class="kustom_culture">Download </a>
        </h5>
    </div>
  </div>
</div>
<div class="mt-5 mb-4">
  <div class="text-success inlines kustom_culture"> 
      <span class="second-title black-text">aviso legal </span>    
  </div>
  <hr>
</div>

    <p class="advertencia">
         En este sitio no alojamos videos, 
         solo linquiamos a otros sitios que
         los ofrecen libremente en internet.
    </p>
    
<div class="mt-5 mb-4 dyuthi_regular">
<div class="text-success inlines kustom_culture"> 
    <span class="second-title black-text">seguinos </span>    
</div>
<hr>
</div>
<ul class="advertencia list-inline footer-links"> 
<li class="list-inline-item"> 
  <a href="#"> 
        <i class="fab fa-youtube"></i> 
  </a> 
  </li> 
<li class="list-inline-item"> 
  <a href="#"> 
        <i class="fab fa-x-twitter"></i> 
  </a> 
</li> 
<li class="list-inline-item"> 
  <a href="#"> 
        <i class="fab fa-instagram"></i> 
  </a> 
</li> 
<li class="list-inline-item"> 
  <a href="#"> 
        <i class="fab fa-github"></i> 
  </a> 
</li> 
</ul>
<div style="height: 150px;"></div>