/* Here you can customize Bootstrap. Remember to customize as it is explained here: https://getbootstrap.com/docs/5.0/customize/sass. */
$yellowlight:     #ffffe0;
$body-bg: $yellowlight;
$card-border-color: #212429;
$card-cap-bg: #212429;
$card-cap-color: #ffffe0;
$card-spacer-y: 0.5rem;
$success: #333333;
$danger: #ffc400;
