---
---

@import "custom";
@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: 'kustom_cultureregular';
    src: url('{{ site.url }}/assets/css/fonts/kustomculture-regular-webfont.woff2') format('woff2'),
         url('{{ site.url }}/assets/css/fonts/kustomculture-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dyuthiregular';
    src: url('{{ site.url }}/assets/css/fonts/dyuthi-regular-webfont.woff2') format('woff2'),
         url('{{ site.url }}/assets/css/fonts/dyuthi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archivosemibold';
    src: url('{{ site.url }}/assets/css/fonts/archivo-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('{{ site.url }}/assets/css/fonts/archivo-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gasparregular';
    src: url('{{ site.url }}/assets/css/fonts/gaspar_regular-webfont.woff2') format('woff2'),
         url('{{ site.url }}/assets/css/fonts/gaspar_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.kustom_culture {
    font-family: 'kustom_cultureregular';
}

.dyuthi_regular {
    font-family: 'dyuthiregular';
}

.archivo_regular {
    font-family: 'archivosemibold';
}

.gaspar_regular {
    font-family: 'gasparregular';
}

#countdown {
    text-align: left;
}

.footer {
    background-color: #212429;
    color: #ffffe0;
    bottom: 0;
    font-family: dyuthiregular;
}

body a {
    color: #c97f03;
    text-decoration: none;
}

body a:hover{
    color: #8a5906;
    text-decoration: none;
}

.noticias {
    font-family: 'archivo_regular';
    font-size: 20px;
}

.black-title {
    color: #212429;
}

.card-header-light {
    background-color: #f8fbc0;
    color: #212429;
}

.aire {
    padding: 1rem;
    margin: 0px;
}

h2, h6 {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    font-family: kustom_cultureregular;
}

.cardfix {
    /*overflow-x: scroll;*/
    white-space: nowrap;
    max-width: 250px;
    padding: 1rem;
}

.top-style {
    border-top: 10px solid #c97f03;
    border-top-style: solid;
}

.top-top-style {
    border: 5px solid #212429;
    border-style: solid;
    padding: 1rem;
}

.h-100 {
    height: 66% !important;
}