<!doctype html>
<html lang="es">
    <head>
        {% include head.html %}
    </head>
    <body class="d-flex flex-column vh-100">
        {% include header.html %}
        {% include navbar.html %}
        <div class="container">
            <div class="row">
                <div class="col-md-10 title">
                    <div class='mt-5 mb-4'>
                        <h1 class='kustom_culture black-title mb-0'>
                           {{ page.title }}
                        </h1>
                        <hr>
                        <p class="second-title mb-0"><strong>{{ page.description }}</strong></p>
                        <div class="inlines card-text mb-2">
                            <p style="color: #917c6f;font-size: 16px;" style="display: block;">{{ page.date_es }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 main">
                    <div class="noticias" style="padding: 0 20 20 0;">
                        {{ content }}
                    </div>
                </div>
                <div class="col-md-3" style="margin-top: -48px;">
                    {% include sidebardefault.html %}
                </div>
            </div>
        </div>
        <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
        <script src="{{'/node_modules/@popperjs/core/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
        <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    </body>
    <div style="height: 130px"></div>
    {% include footer2.html %}
</html>